<h1>Your triangle is:</h1>
<% if @triangle.equalateral?().eql?("This is an equalateral triangle") %>
You have an equalateral triangle

<% elsif @triangle.isosceles?().eql?("This is an isosceles triangle") %>
You have an isosceles triangle

<% elsif @triangle.scalene?().eql?("This is a scalene triangle") %>
You have an scalene triangle

<% else %>
Your sides do not make a triangle

<% end %>
