<h1>Your triangle is:</h1>
<% if @triangle.equalateral?() %>
<h3>You have an equalateral triangle</h3>

<% elsif @triangle.isosceles?() %>
<h3>You have an isosceles triangle</h3>

<% elsif @triangle.scalene?() %>
<h3>You have an scalene triangle</h3>
<% binding.pry %>

<% else @triangle.sides()%>
<h3>Your sides do not make a triangle</h3>

<% end %>
